@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

:root {
--search-color:black;
--footer-background: black;
--footer-color: white;
--textsecondary-color:#31404B;
--sidebar-color: #042331;
--sidebar-ul-a-color: #fff;
--label-btn-color: rgb(0, 0, 98);
--header-color: #063146;
}
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #E4E9F7;
overflow-y: scroll;
overflow-x: hidden;
place-items: center;
height: 100vh;

}

body.dark {
background: #292C35;
--text-color: #fff;
--menu-color: #fff;
--menuwrite-color: black;
--footer-background: white;
--footer-color: black;
--sidebar-color: #FFCC70;
--sidebar-ul-a-color: black;
--label-btn-color: whitesmoke;
--header-color: #4158D0;
--textsecondary-color:white;
--search-color:white;
background-position: 95%;
background-size: auto;
background-repeat: no-repeat;
}
::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-thumb {
background-color: rgba(22,24,35,0.06);
}

h1 {
text-align: center;
margin: 0;
font-size: 60px;
font-weight: bold;
position: static;
}
h2 {
  text-align: center;
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  position: static;
  }

.image-titre {
position: absolute;
top: 25px;
left: -5px;
margin-left: 530px;
width: 62px;
height: 62px;
float: left;
margin-right: 10px;
}
nav {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: #fff;
  padding: 10px;
  width: 100vw;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
nav ul li a.active,
nav ul li a:hover{
color: #111;
background: #fff;
border-radius: 4px;
font-weight:bold ;
}
nav ul li a:hover {
  background-color: #fff;
  color: black;
  border-radius: 4px;
  transform: scale(1.1);
  

}
section {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
}
.photo-comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.photo-comment img {
  width: 200px;
  margin-right: 20px;
}
.photo-comment p {
  margin: 0;
}
footer {
left: 0;
margin-top: 100px;
background: var(--footer-background);
height: auto;
width: 100vw;
padding: 10px 0 0 0;
}

.footer {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.footer p {
margin: 5px auto;
line-height: 24px;
font-size: 12px;
color: var(--footer-color);
}

.socials {
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 0.25rem 0 1rem 0;
}

.socials li {
margin: 0 8px;
}

.socials a {
text-decoration: none;
color: var(--footer-color);
border: 2.5px solid var(--footer-color);
padding: 4px;
border-radius: 50%;
}

.socials a i {
color: var(--footer-color);
font-size: 1rem;
width: 18px;
transition: color 0.4s ease;
}

.socials a:hover i {
color: dodgerblue;
}

.footer-copyright {
width: 100vw;
padding: 5px;
}

.footer-copyright p {
font-size: 12px;
word-spacing: 2px;
align-items: center;
justify-content: center;
color: var(--footer-color);
}

.container {
display: flex;
flex-wrap: wrap;
margin-left: 260px;
max-width: 1200px;
margin-block: 2rem;
gap: 2rem;

}

img {
max-width: 100%;
display: block;
object-fit: cover;
}

.card {
display: flex;
flex-direction: column;
width: clamp(20rem, calc(20rem + 2vw), 22rem);
overflow: hidden;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
border-radius: 1em;
background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}



.card__body {
padding: -1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}


.tag {
  position: relative;
align-self: flex-start;
padding: .25em .75em;
border-radius: 1em;
font-size: .75rem;
top: 3px;
left: 5px;
}

.tag + .tag {
margin-left: .5em;
}

.tag-blue {
background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
color: #fafafa;
}

.tag-brown {
background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
color: #fafafa;
}

.tag-red {
background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
color: #fafafa;
}

.card__body h4 {
font-size: 1.5rem;
text-transform: capitalize;
}

.card__footer {
display: flex;
padding: 1rem;
margin-top: auto;
}

.user {
display: flex;
gap: .5rem;
}

.user__image {
width: 50px;
height: 50px;
}

.user__info > small {
color: #666;
}


.text-primary {
color: #FFCC00;
font-size: 3.5rem;
font-weight: bold;
}

.text-secondary {
color:var(--textsecondary-color);
font-size: 3.5rem;
font-weight: 300;
}

  .checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    height: 26px;
    width: 50px;
    transform: scale(1.4);
    right: 50px;
    top: 25px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.label .fa-moon,
.label .fa-sun {
    font-size: 16px; /* Ajustez la taille des icônes ici */
    line-height: 1;
}

.label .fa-moon {
    color: #f1c40f;
}

.label .fa-sun {
    color: #f39c12;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: var(--sidebar-color);
    transition: all 0.5s ease;
  }
  
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: var(--header-color);
    user-select: none;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebar ul li a {
    display: block;
    height: 65px;
    line-height: 65px;
    font-size: 20px;
    font-weight: bold;
    color: var(--sidebar-ul-a-color);
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .sidebar ul li:hover a {
    padding-left: 50px;
  }
  
  .sidebar ul li a i {
    margin-right: 16px;
  }
  
  #check {
    display: none;
  }
  
  label #btn,
  label #cancel {
    position: relative;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
  }
  
  label #btn {
    left: 40px;
    top: 20px;
    font-size: 35px;
    color: var(--label-btn-color);
    padding: 6px 12px;
    transition: all 0.5s;
  }
  
  label #cancel {
    z-index: 1111;
    position: fixed;
    left: 215px;
    top: 10px;
    font-size: 30px;
    color: #0a5275;
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  #check:checked ~ .sidebar {
    left: 0;
  }
  
  #check:checked ~ label #btn {
    left: -250px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~ label #cancel {
    opacity: 1;
  }
  
  #check:checked ~ section {
    margin-left: 250px;
  }

  .InputContainer {
    position: absolute;
    top: 10%;
    right: 20px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
  }
  
  .search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    right: -100px;
    top: 0;
  }
  
  .input-search {
    height: 50px;
    width: 200px;
    border-style: none;
    padding: 0;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
    display: none; /* Ajout de la propriété display pour masquer le champ de recherche par défaut */
  }
  
  .input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  
  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left: -60px; /* Ajustez la position du bouton ici */
    top: 0;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-search:focus ~ .input-search,
  .input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    display: block; /* Affiche le champ de recherche lorsqu'il a le focus */
  }
  
  .btn-search span {
    position: relative;
    top: 0px;
    left: 0;
    display: inline-block;
    width: 30px; /* Ajustez la taille du cercle ici */
    height: 30px; /* Ajustez la taille du cercle ici */
    border-radius: 50%;
    background-color: transparent;
    color: var(--search-color);
    text-align: center;
    line-height: 30px; /* Ajustez la taille du cercle ici */
  }

  #progress {
    position: sticky;
    bottom: 10px;
    left: 100vw !important;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
  }
  